<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DbConnectionString" connectionString="Server=localhost;Database=SecFlowDb;Trusted_Connection=True;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
	</connectionStrings>

	<appSettings>
		<add key="ServerIP" value="192.168.0.108" />
		<add key="ServerPort" value="80" />
	</appSettings>
</configuration>